{% extends "index.html" %}

{% block productForm_content %}
<style>
    .contact-text{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 100px;
    }
    .form-content{
        margin: 8% 0%;
    }
    .submit-button{
        width: 100%;
        background-color: green;
        padding: 3% 0%;
        color: white;
    }
</style>
<div class="contact-text">
   <form method="post">
    {% csrf_token %}
    <div class="form-content">
        <h3>Select Category:</h3>
        <select name="category" id="">
            {% for c in data %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-content">
        <h3>Enter Name:</h3>
        <input type="text" name="name">
    </div>
    <div class="form-content">
        <h3>Enter Unit:</h3>
        <input type="text" name="unit">
    </div>
    <div class="form-content">
        <h3>Enter Price:</h3>
        <input type="text" name="price">
    </div>
    <button type="submit" class="submit-button">Send</button>
   </form>
</div>



{% endblock productForm_content %}