{% extends "index.html" %}

{% block saleItem_content %}
<style>
    .table_container{
        width: 80%;
        display: flex;
        padding: 3% 0%;
        justify-content: center;
        position: absolute;
        top: 100px;
        right: 0px;
    }
    table{
        border: 1px solid black;
        width: 100%;
        height: auto;
    }
    th,td{
        border: 1px solid black;
    }
</style>
<div class="table_container">
    <table>
        <tbody>
            <th>Sale info</th>
            <th>Stock</th>
            <th>Quantity</th>
        </tbody>
        <tbody>
            {% for sale_item in sale_items %}
            <tr>
                <td>{{sale_item.sales_form.customer.name}} - {{sale_item.sales_form.employee.name}}</td>
                <td>{{sale_item.stock.product.name}} - {{sale_item.stock.total_quantity}}</td>
                <td>{{sale_item.quantity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock saleItem_content %}